Checks: >
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type

WarningsAsErrors: ''

HeaderFilterRegex: '^(?!.*(lib/tinyusb|pico-sdk)).*'

FormatStyle: file
